* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: burlywood;
  height: 100%;
  margin: 40px;
  border: 1px solid black;
}

.main-input {
  display: block;
  padding: 10px 10px;
  width: 100%;
}

.submit-button {
  display: block;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
}

.book-item {
  width: 20%;
  margin: 10px;
  border: white 1px solid;
}
.book-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}
/* utility */
.center {
  margin: 0 auto;
}
.tcenter {
  text-align: center;
}
.py {
  padding: 20px 0;
}
.px {
  padding: 0px 20px;
}
.show-hide {
  display: none;
}
.spinner {
}
