* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a7dbd8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  /* background-color: #69d2e7; */
  height: 100%;
  margin: 40px;
  border-radius: 0.5rem;
}

.main-input {
  display: block;
  padding: 10px 10px;
  width: 40%;
  border: none;
  outline: none;
  background-color: #112a42;
  color: #ffb100;
  margin: 5px auto;
}

.submit-button {
  display: block;
  padding: 10px 10px;
  width: 40%;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: #f38630;
  margin: 10px 0;
  color: #fff;
}
.total-items {
  background-color: #112a42;
  color: white;
  border-radius: 0.2rem;
  padding: 10px;
  display: inline;
  margin: 30px auto;
}
.book-collection {
  margin: 20px;
}
.book-item {
  padding: 10px;
  margin: 10px;
  color: #fff;
  background-color: #f38630;
  background-color: #112a42;
  border-radius: 0.5rem;
}
.book-items {
  display: grid;
  /* gap: 20px; */
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
a {
  color: #ffb100;
  text-decoration: none;
  background-color: black;
  border-radius: 4px;
  padding: 4px;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.book-image {
  background-color: #fa6900;
  padding: 10px;
}
li:last-child {
  margin-top: 15px;
}
.heade {
  padding: 20px 0;
  color: #081927;
}
/* utility */
.center {
  margin: 0 auto;
}
.tcenter {
  text-align: center;
}
.py {
  padding: 20px 0;
}
.px {
  padding: 0px 20px;
}
.show-hide {
  display: none;
}

.text-sec {
  color: #ffb100;
}
